vendor/
node_modules/
npm-debug.log
yarn-error.log
mysql/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/fridgefusion-laravel/public/img
/fridgefusion-laravel/public/storage


# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

#jetBrains
.idea/

# C# project
bin/
obj/
.vs/
*.sln.DotSettings.user