@import "../node_modules/bootstrap/scss/bootstrap";
$body-bg: #FFFFE0;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14pt;
}

#login{
    background-color: #C8C588;
}
