@import '../../node_modules/vue-select/dist/vue-select.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14pt;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
