@import '../../node_modules/vue-select/dist/vue-select.css';
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14pt;
}


#login{
    background-color: #C8C588;
}

.paginate{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev, .next, .page-item{
    list-style: none;
    background: #117972;
    color: white;
    padding: 10px;
    border: 1px solid white;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev:hover, .next:hover, .page-item:hover{
    cursor: pointer;
    font-weight: bold;
}

.paginate .active{
    background: #0a4944;
}

.icon-btn{
    padding: 5px;
    cursor: pointer;
}

.clip-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clip-container.main{
    height: 449px;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

